<div>
  <mat-tab-group>
    <mat-tab label="BANKS">
      <!-- Content for BANKS tab -->
    </mat-tab>
  </mat-tab-group>
</div>

<ng-container>
  <div class="grid-container">
    <!-- SIDEBAR -->
    <div class="sidebar">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Search here..</mat-label>
            <input matInput placeholder="Search here.." />
          </mat-form-field>
        </div>
        <div class="col-auto">
          <button mat-raised-button color="warn" class="add_banks_btn" (click)="openAddBanksModal()">+ ADD BANKS</button>
        </div>
      </div>

      <mat-table [dataSource]="bankslist" class="mat-elevation-z8 bank_list">
        <!-- ACCOUNT NAME Column -->
        <ng-container matColumnDef="accountdisplayname">
          <mat-header-cell *matHeaderCellDef> ACCOUNT NAME </mat-header-cell>
          <mat-cell *matCellDef="let bank" (click)="handleClick(bank)" [ngClass]="{ 'selectedBank-row-td': isSelectedBank(bank.accountdisplayname) }">
            {{ bank.accountdisplayname }}
          </mat-cell>
        </ng-container>
      
        <!-- AMOUNT Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> AMOUNT </mat-header-cell>
          <mat-cell *matCellDef="let bank" (click)="handleClick(bank)" [ngClass]="{ 'selectedBank-row-td': isSelectedBank(bank.accountdisplayname) }" 
                    [ngStyle]="{ 'color': dataService.getColor(bank.amount, 0) }">
            {{ bank.amount }}
          </mat-cell>
        </ng-container>
      
        <!-- Header and Row Definitions -->
        <mat-header-row *matHeaderRowDef="['accountdisplayname', 'amount']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['accountdisplayname', 'amount'];"></mat-row>
      </mat-table>
    </div>

    <!-- TOP CONTENT -->
    <div class="top-content">
      <div class="top-content-row">
        <mat-form-field appearance="fill">
          <mat-select placeholder="DEPOSIT/WITHDRAW" (selectionChange)="openModal($event)">
            <mat-option value="bankToCash">Bank To Cash Transfer</mat-option>
            <mat-option value="cashToBank">Cash To Bank Transfer</mat-option>
            <mat-option value="bankToBank">Bank To Bank Transfer</mat-option>
            <mat-option value="adjustBalance">Adjust Bank Balance</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- BOTTOM CONTENT -->
    <div class="bottom-content">
      <h2>TRANSACTIONS</h2>
      <mat-table [dataSource]="transactions" class="mat-elevation-z8 transaction-list">
        <ng-container matColumnDef="transactionid">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{ transaction.transactionid }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{ transaction.type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{ transaction.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{ transaction.date }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> AMOUNT </mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{ transaction.amount }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['transactionid', 'type', 'name', 'date', 'amount']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['transactionid', 'type', 'name', 'date', 'amount'];" (click)="openModalOnTransaction(row)"></mat-row>
      </mat-table>
    </div>
  </div>
</ng-container>
