<div>
    <ul class="nav" role="tablist">
      <li class="nav-item tabMain">
        <a class="nav-link tabTitle" id="tab1-tab" role="tab">BANKS</a>
      </li>
    </ul>  
  </div>

  <ng-container>
  <div class="grid-container">
      <!-- SIDEBAR -->
      <div class="sidebar">
          <div class="row">
              <div class="col">
                <!-- <input type="text" [(ngModel)]="searchGroup" class="form-control" placeholder="Search here.."> -->
                <input type="text" class="form-control" placeholder="Search here..">
              </div>
              <div class="col-auto">
                <button class="btn btn-warning add_banks_btn" (click)="openAddBanksModal()">+ ADD BANKS</button>
              </div>
          </div>
  
          <table class="table table-hover bank_list">
            <thead class="thead-dark">
              <tr>
                <th class="table-column">ACCOUNT NAME</th>
                <th class="table-column">AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bank of bankslist" (click)="handleClick(bank)"  [ngClass]="{ 'selectedBank-row-tr': isSelectedBank(bank.accountdisplayname) }">
                <td class="table-row"  [ngClass]="{ 'selectedBank-row-td': isSelectedBank(bank.accountdisplayname) }">{{ bank.accountdisplayname }}</td>
                <td class="table-row"  [ngClass]="{ 'selectedBank-row-td': isSelectedBank(bank.accountdisplayname) }"
                [ngStyle]="{ 'color': dataService.getColor(bank.amount,0) }">{{ bank.amount }}</td>
              </tr>
            </tbody>
          </table>
      </div>
  
      <!-- TOP CONTENT -->
      <div class="top-content">
        <div class="top-content-row">
          <div class="dropdown-container">
            <mat-form-field>
              <mat-select placeholder="DEPOSIT/WITHDRAW" (selectionChange)="openModal($event)">
                <mat-option value="bankToCash">Bank To Cash Transfer</mat-option>
                <mat-option value="cashToBank">Cash To Bank Transfer</mat-option>
                <mat-option value="bankToBank">Bank To Bank Transfer</mat-option>
                <mat-option value="adjustBalance">Adjust Bank Balance</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <!-- BOTTOM CONTENT -->
      <div class="bottom-content">
        <h2>TRANSACTIONS</h2>
        <table class="table table-hover transaction-list">
          <thead class="thead-dark">
            <tr>
              <th class="table-column">ID</th>
              <th class="table-column">TYPE</th>
              <th class="table-column">NAME</th>
              <th class="table-column">DATE</th>
              <th class="table-column">AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td class="table-row">{{ transaction.transactionid }}</td>
              <td class="table-row">{{ transaction.type }}</td>
              <td class="table-row">{{ transaction.name }}</td>
              <td class="table-row">{{ transaction.date }}</td>
              <td class="table-row">{{ transaction.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
  </div>
  </ng-container>