<section class="bg-body-secondary">
  <div class="container-fluid pt-2 pb-2">
    <div class="row align-content-center">
      <div class="example-button-container" (click)="goToSaleInvoice()">
        <button mat-mini-fab aria-label="Back to sale invoice">
          <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
      </div>
      <div class="col-5 align-self-center">
        <h1 class="m-0" *ngIf="!(isSaleConvert || isPurchaseConvert || isSaleOrderConvert)"> {{ transactionType | removeHyphen}} </h1>
        <h1 class="m-0" *ngIf="isSaleConvert"> Sale </h1>
        <h1 class="m-0" *ngIf="isSaleOrderConvert"> Sale Order </h1>
        <h1 class="m-0" *ngIf="isPurchaseConvert"> Purchase </h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-body-secondary basic-details pt-2 mt-2">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <!-- Party Details -->
      <div class="container-fluid col-8 ms-2 me-2">
        <form [formGroup]="modifyDetail" class="row">
          <!-- Party Name -->
          <div class="col-5 mb-1">
            <app-auto-complete
              [controlName]="'customername'"
              [dataList]="autoCompletePartyData"
              [placeholder]="'Party name'"
              [handleChange]="handlePartyChange"
              [columns]="columnInfoAutoComplete"
              (click)="handleCustomerInputClick()"
            >
            </app-auto-complete>
            <span [ngStyle]="{ color: balanceColor }">
              <b> Balance: {{ partyBalance }} </b>
            </span>
          </div>

          <!-- Phone Number -->
          <div class="col-5 mb-1">
            <input
              id="phoneNumberInput"
              placeholder="Phone Number"
              formControlName="phonenumber"
              class="form-control"
            />
          </div>

          <!-- Billing Address -->
          <div class="col-5 mb-1">
            <textarea
              class="form-control"
              id="billingAddress"
              rows="2"
              placeholder="Billing Address"
              formControlName="billingaddress"
            ></textarea>
          </div>

          <!-- Shipping Address -->
          <div class="col-5 mb-1">
            <textarea
              class="form-control"
              id="shippingAddress"
              rows="2"
              placeholder="Shipping Address"
              formControlName="shippingaddress"
            ></textarea>
          </div>
        </form>
      </div>

      <!-- Invoice Details -->
      <div class="container-fluid col-3 ms-2 me-2">
        <form [formGroup]="modifyDetail" class="row">
          <!-- Invoice Number -->
          <div class="col-11 input-group mb-1">
            <span class="input-group-text transparent"> Invoice No. </span>
            <input
              id="invNumber"
              name="invNumber"
              placeholder="Inv No"
              formControlName="invoicenumber"
              class="form-control"
            />
          </div>

          <!-- Invoice Date -->
          <div class="col-11 input-group mb-1">
            <span class="input-group-text transparent"> Invoice Date </span>
            <input
              id="invDate"
              name="invDate"
              placeholder="Inv Date"
              formControlName="invoicedate"
              class="form-control"
            />
          </div>

          <!-- State Of Supply -->
          <div class="col-11 mb-3">
            <app-auto-complete
              [controlName]="'stateofsupply'"
              [dataList]="stateList"
              [placeholder]="'State'"
              [dataIsObject]="false"
              [label]="'State'"
              (click)="handleStateInputClick()"
            >
            </app-auto-complete>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="mt-2 bg-body-secondary p-2">
  <form [formGroup]="modifyDetail" disabled>
    <table
      mat-table
      matSort
      [dataSource]="newTransactionData"
      formArrayName="itemdetailslist"
    >
      <!-- First Header Columns -->
      <!-- Id column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">#</th>
        <td mat-footer-cell *matFooterCellDef>
          <button
            mat-icon-button
            color="accent"
            aria-label="Add Row"
            (click)="handleAddRowClick()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Item Header -->
      <ng-container matColumnDef="Item">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ITEM</th>
        <td mat-footer-cell *matFooterCellDef>
          <span class="me-3 ms-1">TOTAL</span>
        </td>
      </ng-container>

      <!-- Mrp Header -->
      <ng-container matColumnDef="Mrp">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">MRP</th>
        <td mat-footer-cell *matFooterCellDef>
          <span class="me-3 ms-1">TOTAL</span>
        </td>
      </ng-container>

      <!-- Item Code Header -->
      <ng-container matColumnDef="ItemCode">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ITEM CODE</th>
        <td mat-footer-cell *matFooterCellDef>
          <span class="me-3 ms-1">TOTAL</span>
        </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">QTY</th>
        <td mat-footer-cell *matFooterCellDef>
          <span class="ms-1 me-2"> {{ totalQuantity }} </span>
        </td>
      </ng-container>

      <!-- Unit Column -->
      <ng-container matColumnDef="Unit">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">UNIT</th>
        <td mat-footer-cell *matFooterCellDef>-</td>
      </ng-container>

      <!-- Price Per unit Column -->
      <ng-container matColumnDef="Price/unit">
        <th mat-header-cell *matHeaderCellDef>Price/Unit</th>
        <td mat-footer-cell *matFooterCellDef>-</td>
      </ng-container>

      <!-- Discount Column -->
      <ng-container matColumnDef="Discount">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">DICOUNT</th>
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="2">
          <span class="ms-1 me-2"> {{ totalDiscount }} </span>
        </td>
      </ng-container>

      <!-- TAX Column -->
      <ng-container matColumnDef="Tax">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">TAX</th>
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="2">
          <span class="ms-1 me-2"> {{ totalTax }} </span>
        </td>
      </ng-container>

      <!-- Final Amount Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">AMOUNT</th>
        <td mat-footer-cell *matFooterCellDef>
          <span class="ms-1 me-2"> {{ totalAmount }} </span>
        </td>
      </ng-container>

      <!-- ---------------- SECOND HEADER COLUMNS ------------------------- -->
      <!-- Id Column display none -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          #
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span class="hover-none">
            {{ i + 1 }}
          </span>
          <div class="hover-display">
            <button
              mat-icon-button
              color="warn"
              aria-label="Delete Row"
              (click)="handleDeleteRowClick(i, element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Item Column display none -->
      <ng-container matColumnDef="item">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          Item
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <app-auto-complete
            [controlName]="'item'"
            [dataList]="autoCompleteItemData()"
            [dataIsObject]="true"
            [columns]="itemColumnInfo"
            (click)="getItems()"
          />
        </td>
      </ng-container>

      <!-- Mrp Column display none -->
      <ng-container matColumnDef="mrp">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          Quantity
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              class="form-control table-input"
              formControlName="mrp"
            />
          </div>
        </td>
      </ng-container>

      <!-- Item-Code Column display none -->
      <ng-container matColumnDef="itemcode">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          Quantity
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              class="form-control table-input"
              formControlName="itemcode"
            />
          </div>
        </td>
      </ng-container>

      <!-- Quantity Column display none -->
      <ng-container matColumnDef="quantity">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          Quantity
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              class="form-control table-input"
              formControlName="qty"
            />
          </div>
        </td>
      </ng-container>

      <!-- Unit Column display none -->
      <ng-container matColumnDef="unit">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          Unit
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <select class="form-select table-input" formControlName="unit">
              <option *ngFor="let unit of UNITS" [value]="unit">
                {{ unit }}
              </option>
            </select>
          </div>
        </td>
      </ng-container>

      <!-- Price/Unit without tax column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Without Tax</th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              class="form-control table-input"
              formControlName="priceperunit"
            />
          </div>
        </td>
      </ng-container>

      <!-- Discount - Percentage Column -->
      <ng-container matColumnDef="discountPercent">
        <th mat-header-cell *matHeaderCellDef>%</th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              min="0"
              max="100"
              class="form-control table-input"
              formControlName="discountpercent"
            />
          </div>
        </td>
      </ng-container>

      <!-- Discount - Amount Column -->
      <ng-container matColumnDef="discountAmount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              class="form-control table-input"
              formControlName="discountamount"
            />
          </div>
        </td>
      </ng-container>

      <!-- Tax - Percentage Column -->
      <ng-container matColumnDef="taxPercent">
        <th mat-header-cell *matHeaderCellDef>%</th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              min="0"
              max="100"
              class="form-control table-input"
              formControlName="taxrate"
            />
          </div>
        </td>
      </ng-container>

      <!-- Tax - Amount Column -->
      <ng-container matColumnDef="taxAmount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              class="form-control table-input"
              formControlName="taxrateamount"
            />
          </div>
        </td>
      </ng-container>

      <!-- Final Amount display none Column -->
      <ng-container matColumnDef="totalAmount">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [ngStyle]="{ display: 'none' }"
        >
          Amount
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="container-fluid">
            <input
              type="number"
              class="form-control table-input"
              formControlName="totalAmount"
            />
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Defining the header row -->
      <tr mat-header-row *matHeaderRowDef="newTransactionDataHeaders"></tr>
      <tr mat-header-row *matHeaderRowDef="newTransactionDataColumns"></tr>

      <!-- Defining the data row -->
      <tr mat-row *matRowDef="let row; columns: newTransactionDataColumns"></tr>

      <!-- Defining the footer row -->
      <tr mat-footer-row *matFooterRowDef="newTransactionDataHeaders"></tr>

      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ tableFilterInp.value }}"
        </td>
      </tr> -->
    </table>
  </form>

  <div class="container-fluid">
    <form [formGroup]="modifyDetail" class="mt-4 row" [ngClass]="!showAmtDetails ? 'justify-content-end' : 'justify-content-between'">
      <div class="col-5" *ngIf="showAmtDetails">
        <div class="container-fluid">
          <div [ngClass]="i == 0 ? 'mt-1' : 'mt-3'" *ngFor="let control of paymentInfoValue.controls; let i = index" formArrayName="amountdetailslist">
            <div [formGroup]="control" class="row">
              <div class="col-5">
                <!-- TODO: Updated payment type api call and dynamic list -->
                  <app-auto-complete
                    [controlName]="'type'"
                    [dataList]="bankNameList()"
                    [placeholder]="'Payment Type'"
                    [dataIsObject]="false"
                    [design]="true"
                    [value]="getBankAccountName(i)"
                    (click)="handlePaymentInputClick()"
                  >
                  </app-auto-complete>
              </div>
              
              <div class="col-5">
                <div class="form-floating">
                  <input type="number" name="checkAmt_{{i}}" id="checkAmt_{{i}}" class="form-control form-control-sm" formControlName="amount">
                  <label for="checkAmt_{{i}}"> Amount </label>
                </div>
              </div>

              <div class="col-1">
                <button mat-mini-fab aria-label="Example icon button with a menu icon" class="mt-2" (click)="handleDeletePaymentInfoClick(i)" [disabled]="deletePayDisabled" >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
  
              <div class="col-5 mt-1" *ngIf="control.get('type')?.value != 'CASH'">
                <div class="form-floating">
                  <input type="string" name="refno_{{i}}" id="refno_{{i}}" class="form-control form-control-sm" formControlName="refno">
                  <label for="refno_{{i}}"> Ref No </label>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-1">
            <a class="add-payment-type" (click)="createNewPaymentRow()">Add Payment Type</a>
            <span class="payment-type-total">
              <b>Total: </b>
              {{ itemReceivedAmt }}
            </span>
          </div>
        </div>
      </div>

      <div class="col-6 row justify-content-end fit-content">
        <!-- Round Off Checkbox -->
        <div class="form-check col-3 mb-1">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="roundOff"
            id="roundOff"
            style="top: 23%"
          />
          <label
            class="form-check-label"
            for="roundOff"
            style="position: absolute; top: 20%"
          >
            Round Off
          </label>
        </div>

        <!-- Round off input -->
        <div class="col-3 mb-1">
          <input
            id="roundOff"
            name="roundOff"
            placeholder="Roundoff Value"
            class="form-control"
          />
        </div>

        <!-- Total Amount -->
        <div class="col-6 mb-1 d-flex">
          <span class="input-group-text transparent w-50px"> Total </span>
          <!-- <label for="total"> Total </label> -->
          <input
            id="total"
            name="total"
            placeholder="Total"
            formControlName="total"
            class="form-control"
            readonly="true"
          />
        </div>
        <!-- </div> -->

        <!-- Full Paymnt Checkbox -->
        <div class="form-check col-1 mb-1" *ngIf="showAmtDetails">
          <input
            class="form-check-input"
            type="checkbox"
            id="fullPayment"
            style="top: 23%"
            (click)="updatePayAmount()"
            [checked]="fullpayment"
          />
        </div>

        <!-- Received Amount -->
        <div class="col-6 d-flex mb-1" *ngIf="showAmtDetails">
          <!-- @if(transactionType == "Sale"){
          <span class="input-group-text transparent w-50px"> Received </span>
          } @else {
          <span class="input-group-text transparent w-50px"> Paid </span>
          } -->
          <span
            class="input-group-text transparent w-50px"
            *ngIf="transactionType == 'Sale'"
          >
            Received
          </span>
          <span
            class="input-group-text transparent w-50px"
            *ngIf="transactionType != 'Sale'"
          >
            Paid
          </span>
          <input
            id="received"
            name="received"
            formControlName="received"
            class="form-control"
          />
        </div>

        <!-- Balance Amount -->
        <div class="col-6 d-flex mb-1" *ngIf="showAmtDetails">
          <span class="input-group-text transparent w-50px"> Balance </span>
          <input
            id="balance"
            name="balance"
            placeholder="balance"
            formControlName="balance"
            class="form-control"
          />
        </div>
      </div>
    </form>
  </div>
</section>

<section class="mt-2 bg-body-secondary p-2 container-fluid">
  <form class="row" [formGroup]="modifyDetail">
    <div class="col-3">
      <button mat-raised-button color="accent" (click)="submitDetails()">
        Submit
      </button>
    </div>
  </form>
</section>
