.launching-soon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  
  .launch-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    color: #555;
  }
  