<div class="container">
  <div class="payment-in-container">
    <form [formGroup]="paymentInForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="party">Party *</label>
          <select id="party" formControlName="party" class="form-control" [(ngModel)]="partyName" (change)="onPartyChange($event)">
            <option value="">Select Party</option>
            <option *ngFor="let party of partyList" [ngValue]="party.partyname">
              {{ party.partyname }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="balance">{{ calculateBalance(party) }}</span>
            </option>
          </select>
          <small class="form-text text-muted">BAL: <b><span [ngClass]="{'negative-balance': balance < 0, 'positive-balance': balance >= 0}">{{ balance }}</span></b></small>

          <label for="paymentType">Payment Type</label>
          <select id="paymentType" formControlName="paymentType" [(ngModel)]="paymentType" (ngModelChange)="updatepaymenttype($event)" class="form-control">
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>

            <!-- Add more options as needed -->
          </select>

          <label for="description">Description</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>

        <div class="form-group col-md-6">
          <label for="receiptNo">Receipt No</label>
          <input id="receiptNo" type="text" formControlName="receiptNo" class="form-control" 
          [(ngModel)]= "receiptno" (ngModelChange)="updateReceiptValue($event)"/>

          <label for="date">Date</label>
          <input id="date" type="date" formControlName="date" class="form-control" />

          <div class="received-container">
            <label for="received">Received</label>
            <input id="received" type="text" formControlName="received" class="form-control"
                   [(ngModel)]="receivedValue" (ngModelChange)="updateReceivedValue($event)" />
          </div>
        </div>
      </div>

      <div class="btn-container">
        <button type="button" class="btn btn-success" (click)="linkPayment()">Link Payment</button>
      </div>

      <div class="right-btn-container">
        <button type="button" class="btn btn-light">Share</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
