<div class="container">
  <div class="payment-in-container">
    <form [formGroup]="paymentInForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field>
            <mat-label>Party</mat-label>
            <mat-select id="party" formControlName="party" (selectionChange)="onPartyChange($event)">
              <mat-option value="" [disabled]="true">Select Party</mat-option>
              <mat-option *ngFor="let party of partyList" [value]="party.partyname">
                {{ party.partyname }} 
                <!-- <span class="balance">{{ calculateBalance(party) }}</span> -->
              </mat-option>
            </mat-select>
          </mat-form-field>        

          <p *ngIf="!isview && !isadvance" style="font-size: 14px; margin-left: 20px;" class="form-text text-muted">BAL: <b><span [ngClass]="{'negative-balance': balance < 0, 'positive-balance': balance >= 0}">{{ balance }}</span></b></p>
          <p *ngIf="isview && !isadvance" style="font-size: 14px; margin-left: 20px;" class="form-text text-muted">BAL: <b><span [ngClass]="{'negative-balance': balance < 0, 'positive-balance': balance >= 0}">{{ balance }}</span></b></p>

          <div class="payment-type">
            <div formArrayName="payments" class="payment-container">
              <div *ngFor="let payment of payments.controls; let i = index" [formGroupName]="i" class="payment-group">
                <div class="row mt-3">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Payment Type</mat-label>
                      <mat-select formControlName="type" (selectionChange)="handlePaymentTypeChange(i)">
                        <mat-option value="" disabled>Select Type</mat-option>
                        <mat-option *ngFor="let option of paymentOptions" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Amount</mat-label>
                      <input matInput formControlName="amount" placeholder="Amount">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row mt-3" *ngIf="shouldShowReferenceNo(i)">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Reference No.</mat-label>
                      <input matInput formControlName="refno" placeholder="Reference No.">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-sm mt-2 remove-btn" (click)="removePayment(i)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="payment-header">
              <h3 class="add-payment" (click)="addPayment()">+ Add Payment Type</h3>
              <span class="total">Total: {{totalAmount}}</span>
            </div>
          </div>

          <!-- <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea id="description" formControlName="description" matInput class="fixed-height-textarea" placeholder="Description"></textarea>
          </mat-form-field> -->
        </div>

        <div class="form-group col-md-6">
          <mat-form-field>
            <mat-label>Receipt No</mat-label>
            <input id="receiptNo" type="text" formControlName="receiptNo" matInput
                   (ngModelChange)="updateReceiptValue($event)" placeholder="Receipt No"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Date" readonly style="cursor: pointer;"/>
            <mat-datepicker-toggle matSuffix [for]="picker" formControlName="date"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Received</mat-label>
            <input id="received" type="text" matInput formControlName="received"
              (ngModelChange)="updateReceivedValue($event)" placeholder="Received"/>
          </mat-form-field>
        </div>
      </div>

      <div class="btn-container">
        <button *ngIf="!isview && !isadvance && !this.dataService.hidelinkpayment" type="button" class="btn custom-btn"  style="color: white; background-color: #4caf50;" (click)="linkPayment()">LINK PAYMENT</button>
      </div>

      <div class="right-btn-container">
        <button *ngIf="isadvance && !isview" type="button" class="btn"  style="color: white; background-color: #3076f0; width: 100px;" (click)="saveadvanceinout()">SAVE</button>
      </div>

      <div class="right-btn-container">
        <button *ngIf="!isadvance && isview" type="button" class="btn"  style="color: white; background-color: #3076f0; width: 100px;" (click)="saveadvanceinout()">UPDATE</button>
      </div>

      <div class="right-btn-container">
        <button *ngIf="isview && !isadvance" class="btn btn-success custom-btn" (click)="paymentHistory.openModal()">OPEN PAYMENT HISTORY</button>
        <app-payment-history #paymentHistory></app-payment-history>
      </div>
    </form>
  </div>
</div>
