.grid-container {
    display: grid;
    grid-template-columns: 30% 70%; /* Sidebar takes 20%, content takes 80% */
    /* grid-template-rows: auto; Adjust based on content */
    height: 94%;
    margin: 0%;
  }

/****** SIDEBAR CONTENT ******/
.sidebar {
    grid-row: 1 / span 2;
    background-color: #f0f0f0;
    color: white;
    padding: 20px;
    margin-right: 5px;
    overflow-y: auto; /* This makes the bottom content scrollable vertically */
  }

.add_item_btn {
    color: white;
  }

.item_list {
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px lightgray;
  }

.bulk-edit-btn {
    margin-bottom: 5%;
    background-color: whitesmoke;
}

.bulk-icon {
    height: 10%;
    width: 10%;
    margin: 5%;
    border: none;
}

.bulk-edit-btn:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 1px black;
}

.bulk-text {
    margin-left: 5%;
    color: black;
}

/****** TOP CONTENT ******/
.top-content {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    overflow-y: auto; /* This makes the bottom content scrollable vertically */
  }

.top-content-row {
    display: flex;
    justify-content: space-between;
  }
/****** BOTTOM CONTENT ******/
.bottom-content {
    background-color: #f0f0f0;
    padding: 10px;
    overflow-y: auto; /* This makes the bottom content scrollable vertically */
  }


/* TAB */
.tabMain {
  /* margin-left: 20%; */
  text-align: center;
}