<form class="main" [formGroup]="addItemForm">
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{ dataService.isItemUpdate ? 'UPDATE' : 'ADD' }} ITEM</h2>
        <!-- <div class="form-check form-switch" style="margin-right: 5%;">
            <div class="form-check-label" style="margin-right: 5px;">Product</div>
            <input class="form-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <div class="form-check-label" style="margin-left: 5px;">Service</div>
        </div> -->
    </div>

    <div style="border-bottom: 1px solid gray; margin-bottom: 10px;"></div>
    
    <div class="scrollable-div">

    <!-- item details -->
    <div class="item-details">
        <!-- FIRST ROW -->
        <div class="form-row three-columns">
            <!-- First Column -->
            <div class="col-5">
                <div class="form-floating">
                    <input type="text" class="form-control item-name" placeholder="Item Name*" id="itemName" name="itemName" formControlName="itemNameControl" 
                    [class.is-invalid]="itemNameControl?.errors?.['required'] && (itemNameControl?.touched )" oninput="this.value = this.value.toUpperCase()">
                    <label for="itemName">Item Name*</label>
                </div>
            </div>
        
            <!-- Second Column -->
            <div class="col-5">
                <div class="form-floating">
                    <input type="text" class="form-control item-hsn" placeholder="Item HSN" id="item-hsn" name="item-hsn" formControlName="itemHsnControl" oninput="this.value = this.value.toUpperCase()">
                    <label for="item-hsn">Item HSN</label>
                </div>
            </div>

            <!-- Third Column -->
            <div class="col-auto select-unit-btn">
                <div class="form-floating d-flex justify-content-center align-items-center">
                    <input type="button" style="height: 50px; margin-top: 3px;" class="btn btn-secondary" name="selectunit" id="selectunit" value="SELECT UNIT" (click)="openSelectUnitModal()">
                </div>
            </div>
        </div>

        <div class="form-row g-0 three-columns">
            <!-- First Column -->
            <div class="col-5">
                <div class="form-floating">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Category</mat-label>
                      <input type="text" matInput [matAutocomplete]="auto" formControlName="categoryControl" oninput="this.value = this.value.toUpperCase()">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (click)="openAddItemCategoryModal()">+ ADD CATEGORY</mat-option>
                        <mat-option *ngFor="let category of categoryList" [value]="category.category">{{ category.category }}</mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
            </div>
        
            <!-- Second Column -->
            <div class="col-5" style="margin-right: 16.5% ;">
                <div class="form-floating" style="position: relative;">
                    <input type="text" class="form-control item-code" placeholder="Item Code" id="item-code" name="item-code" formControlName="itemCodeControl">
                    <button style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);" class="btn btn-secondary" name="addcode" id="addcode" (click)="assignCode()">ADD CODE</button>
                    <label for="item-code">Item Code</label>
                </div>
            </div>
        </div>

    </div>

    <!-- two tabs -->
    <mat-tab-group [selectedIndex]="selectedTab === 'pricing' ? 0 : 1" (selectedIndexChange)="selectTabIndex($event)">
        <mat-tab label="PRICING"></mat-tab>
        <mat-tab label="STOCK"></mat-tab>
      </mat-tab-group>

    <div style="margin-left: 2%;">
    <!-- TAB1: Pricing -->
    <div class="pricing scroll" id="pricing" *ngIf="selectedTab === 'pricing'">
        <!-- row0: mrp -->
        <div class="sale-price">
          <h2>MRP</h2>
        </div>
        <div class="container">
            <div class="row">
              <div class="col p-0 h-300">
                    <div class="form-floating">
                        <input type="text" class="form-control sale-price-input" placeholder="MRP" id="mrp" name="mrp" pattern="[0-9]*" formControlName="mrpControl">
                        <label for="sale-price">MRP(&#8377;)</label>
                    </div>
              </div>
          </div>

        </div>
      
        <div class="sale-price">
          <h2>Sale Price</h2>
        </div>
        <!-- row1: sale price -->
        <div class="container">
          <div class="row">
              <div class="col p-0 h-300">
                    <div class="form-floating">
                        <input type="text" class="form-control sale-price-input" placeholder="Sale Price" id="sale-price" name="sale-price" formControlName="salePriceControl">
                        <label for="sale-price">Sale Price(&#8377;)</label>
                    </div>
              </div>
              <div class="col-auto p-0">
                <select class="form-select" formControlName="saleWithOrWithoutTaxControl" >
                  <option selected>Without Tax</option>
                  <option>With Tax</option>
                </select>
              </div>
            </div>

            <div class="row" style="margin-left: 5%;">
                <div class="col p-0">
                    <div class="form-floating">
                        <input type="text" class="form-control disc-sale-price" placeholder="Disc. on Sale Price" id="disc-sale-price" name="disc-sale-price" formControlName="discountOnSalePriceControl">
                        <label for="sale-price">Discount on Sale Price</label>
            </div>
          </div>
                <div class="col-auto p-0">
                  <select class="form-select" formControlName="percentageOrAmountControl">
                    <option selected>Percentage</option>
                    <option>Amount</option>
                  </select>
            </div>
          </div>
        </div>
      
        <!-- row2: Wholesale Price -->
        <div>
            <a style="text-decoration:none ;" type="button" (click)="toggleWholesalePrice()" class="wholesaletitle">
                <h2 *ngIf="isWholesalePriceEnabled" class="add-wholesale">+  Add Wholesale Price</h2>
                <h2 *ngIf="!isWholesalePriceEnabled" class="remove-wholesale">Wholesale Price<a style="text-decoration: none; color: grey;"> (- Remove)</a></h2>
            </a>            
        </div>
        <div *ngIf="!isWholesalePriceEnabled">
            <div class="container mb-2">
                <div class="row" style="margin-bottom: 5%;">
                  <div class="col p-0">
                        <div class="form-floating">
                            <input type="text" class="form-control wholesale-price" placeholder="Wholesale Price" id="wholesale-price" name="eholesale-price" formControlName="wholeSalePriceControl" >
                            <label for="wholesale-price">Wholesale Price(&#8377;)</label>
                        </div>
                  </div>
                  <div class="col-auto p-0">
                    <select class="form-select" formControlName="wholeSaleWithOrWithoutTaxControl">
                      <option selected>Without Tax</option>
                      <option>With Tax</option>
                    </select>
                  </div>
                </div>
    
                <div class="row" style="margin-left: 5%;">
                    <div class="form-floating">
                        <input type="text" class="form-control min-wholesale-qty" placeholder="Minimum Wholesale Quantity" id="min-wholesale-qty" name="min-wholesale-qty" formControlName="minimumWholeSaleQuantityControl">
                        <label style="margin-left: 10px;" for="wholesale-price">Minimum Wholesale Quantity</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- row3:Purchase Price -->
          <div class="container">
            <div class="row">
                <h2 style="padding-left: 0%;">Purchase Price</h2>
              <div class="col p-0">
                    <div class="form-floating">
                        <input type="text" class="form-control sale-price-input" placeholder="Sale Price" id="purchase-sale-price" name="purchase-sale-price" formControlName="purchasePriceControl">
                        <label for="purchase-sale-price">Purchase Price(&#8377;)</label>
                    </div>
              </div>
              <div class="col-auto p-0">
                <select class="form-select" formControlName="purchaseWithOrWithoutTaxControl">
                  <option selected>Without Tax</option>
                  <option>With Tax</option>
                </select>
              </div>
            </div>
      
            <div class="row" style="margin-left: 5%;">
                <h2 class="text-end">Taxes</h2>
                <div class="col p-0">
                    <select class="form-select" formControlName="taxRateControl">
                        <option selected disabled>None</option>
                        <option>IGST@.0%</option>
                        <option>GST@0%</option>
                        <option>IGST@0.25%</option>
                        <option>GST@0.25%</option>
                        <option>IGST@3%</option>
                        <option>GST@3%</option>
                        <option>IGST@5%</option>
                        <option>GST@5%</option>
                        <option>IGST@12%</option>
                        <option>GST@12%</option>
                        <option>IGST@18%</option>
                        <option>GST@18%</option>
                        <option>IGST@28%</option>
                        <option>GST@28%</option>
                        <option>Exempt</option>
                    </select>
            </div>
          </div>
        </div>
      </div>
      
      <!-- TAB2: STOCK -->
      <div class="stock" id="stock" *ngIf="selectedTab === 'stock'">
        <div class="form-row three-columns">
          <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control openingquantity" placeholder="Opening Quantity" id="openingquantity" name="openingquantity" formControlName="openingQuantityControl">
                    <label for="openingquantity">Opening Quantity</label>
                </div>
          </div>
      
          <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control at-price" placeholder="At Price" id="atprice" name="atprice" formControlName="atPriceControl">
                    <label for="atprice">At Price(&#8377;)</label>
                </div>
          </div>
      
          <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control asofdate" placeholder="As Of Date" id="asofdate" name="asofdate" formControlName="asOfDateControl">
                    <label for="asofdate">As of Date</label>
                </div>
          </div>
        </div>
      
        <div class="form-row two-columns">
          <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control minstock" placeholder="Min Stock to Maintain" id="minstock" name="minstock" formControlName="minimumStockToMaintainControl">
                    <label for="minstock">Min Stock to Maintain</label>
                </div>
          </div>
      
          <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control location" placeholder="Location" id="location" name="location" formControlName="_locationControl" 
                    oninput="this.value = this.value.toUpperCase()">
                    <label for="location">Location</label>
                </div>
          </div>
        
            <div class="col"></div> <!-- Empty column -->
        </div>
      </div>
    
    </div>
    </div>


    <div *ngIf="!dataService.isItemUpdate" class="">
        <!-- <input type="submit" style="margin-right: 20px;" class="btn btn-warning add_party_btn" value="SAVE & NEW" (click)="submit(true)"> -->
        <input type="submit" class="btn btn-warning save_update"  value="SAVE" (click)="submit(false)">
    </div>
    <div *ngIf="dataService.isItemUpdate" class="">
        <input type="submit" class="btn btn-warning save_update" value="UPDATE" (click)="submit(false)">
    </div>
</form>