<form class="addPartyGroup" [formGroup]="addPartyGroup">
  <h2>{{ dataService.isGroupUpdate ? 'UPDATE' : 'ADD' }} PARTY GROUP</h2>
    <div class="form-group">
      <label for="partyGroupName">ENTER PARTY GROUP NAME</label>
      <input type="text" class="form-control" id="partyGroupName" formControlName="partyGroupNameControl" [(ngModel)]="partyGroupName"
      oninput="this.value = this.value.toUpperCase()" [class.is-invalid]="partyGroupNameControl?.errors?.['required'] && partyGroupNameControl?.touched">
    </div>

    <hr>
    <button type="submit" class="btn add_item_btn" style="color: white; background-color: #3076f0; width: 100px;" (click)="submit()" *ngIf="!dataService.isGroupUpdate">SAVE</button>
    <button type="submit" class="btn add_item_btn" style="color: white; background-color: #3076f0; width: 100px;" (click)="submit()" *ngIf="dataService.isGroupUpdate">UPDATE</button>
  </form>