<form class="addPartyGroup" [formGroup]="addPartyGroup">
    <h2>Add Party Group</h2>
    <div class="form-group">
      <label for="partyGroupName">ENTER PARTY GROUP NAME</label>
      <input type="text" class="form-control" id="partyGroupName" formControlName="partyGroupNameControl" [(ngModel)]="partyGroupName"
      oninput="this.value = this.value.toUpperCase()" [class.is-invalid]="partyGroupNameControl?.errors?.['required'] && partyGroupNameControl?.touched">
    </div>

    <hr>
    <button type="submit" class="btn btn-primary" (click)="submit()">SAVE</button>

  </form>