<form [formGroup]="bankForm" class="bank-form">
  <!-- Bank Details Row -->
  <div class="row">
    <mat-form-field class="half-width">
      <mat-label>Account Display Name</mat-label>
      <input matInput formControlName="newaccountDisplayName" oninput="this.value = this.value.toUpperCase()" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Opening Balance</mat-label>
      <input matInput type="number" formControlName="newopeningBalance" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>As of Date</mat-label>
      <input matInput [matDatepicker]="asOfDatePicker" formControlName="asOfDate" />
      <mat-datepicker-toggle matSuffix [for]="asOfDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #asOfDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

    <!-- Submit Button -->
    <button mat-raised-button color="primary"  style="color: white; background-color: #3076f0; width: 100px;" class="save-button" (click)="submitForm()">Submit</button>
  </form>
  