<div class="app-form-shell bank-shell">
  <div class="app-form-header">
    <h2 class="app-form-title">{{ isUpdateMode ? 'UPDATE' : 'ADD' }} BANK</h2>
  </div>
  <div class="app-form-divider"></div>

  <form [formGroup]="bankForm" class="bank-form">
    <div class="bank-grid">
      <mat-form-field>
        <mat-label>Account Display Name</mat-label>
        <input matInput formControlName="newaccountDisplayName" oninput="this.value = this.value.toUpperCase()" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Opening Balance</mat-label>
        <input matInput type="number" formControlName="newopeningBalance" />
      </mat-form-field>

      <mat-form-field class="span-2">
        <mat-label>As of Date</mat-label>
        <input matInput [matDatepicker]="asOfDatePicker" formControlName="asOfDate" />
        <mat-datepicker-toggle matSuffix [for]="asOfDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #asOfDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="bank-actions">
      <button mat-raised-button color="primary" class="save-button" type="button" (click)="submitForm()">
        {{ isUpdateMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>
  
