body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.plans-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 70px auto;
}

.plan {
  background-color: white;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  position: relative;
  transition: transform 0.2s;
  flex: 1;
  margin: 10px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan:hover {
  transform: scale(1.05);
}

.plan-header {
  background-color: #4caf50;
  color: white;
  padding: 15px 0;
  font-size: 24px;
}

.plan-price {
  font-size: 36px;
  margin: 20px 0;
}

.original-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #888;
}

.plan-features {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  font-size: 18px;
}

.plan-features li {
  margin: 10px 0;
}

button {
  background-color: #6f6d6d;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 18px;
}

button:hover {
  background-color: #494949;
}

.most-popular {
  background-color: #b76e37;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 3px;
  border-radius: 5px;
}

.plan.free .plan-header {
  background-color: #b31b1b;
}

.plan.silver .plan-header {
  background-color: #b31b1b;
}

.plan.gold .plan-header {
  background-color: #b31b1b;
  /* color: #000; */
}

.free{
  background-color: #f2f2f1;
}

.silver{
  background-color: #dfe9ed;
}

.gold{
  background-color: #f7ecd1;
}

.alignment{
  text-align: center;
  font-size: large;
  box-shadow: #000000;
}

.active-label {
  background-color: green;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  text-shadow: 2px 2px 2px rgb(18, 18, 18);
  text-align: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  box-shadow: 2px 2px 2px  rgb(112, 113, 112);
}

.active-plan {
  border: 2px solid rgb(76, 74, 74);
  /* border-radius: 5px; */
  box-shadow: 10px 10px 10px rgb(185, 183, 183) !important;
  position: relative;
  padding-top: 5px; 
}

.plans-container .plan {
  padding: 20px;
  box-shadow: 2 2 2px rgba(170, 12, 12, 0.1);
  /* border-radius: 5px; */
  margin: 10px;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}