<form class="main" [formGroup]="addPartyForm">
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ dataService.isPartyUpdate ? 'UPDATE' : 'ADD' }} PARTY</h2>
  </div>
  
  <div style="border-bottom: 1px solid gray; margin-bottom: 10px;"></div>

  <div class="scrollable-div">
  <!-- First row with three input columns -->
      <!-- Party Name Field --> 
    <div class="form-row three-columns">
      <div class="col-4">
        <div class="form-floating">
          <input type="text" class="form-control" placeholder="Party Name*" id="partyName" name="partyName" formControlName="partyNameControl"
          [class.is-invalid]="partyNameControl?.errors?.['required'] && (partyNameControl?.touched || ifFormSubmitted)" oninput="this.value = this.value.toUpperCase()">
          <label for="partyName">Party Name*</label>
        </div>
      </div>

      <!-- GSTIN Field -->
      <div class="col-4 "> 
      <div class="form-floating">
        <input type="text" class="form-control gst-in" placeholder="GSTIN" id="floatingPassword" name="gstin" formControlName="gstControl" 
        oninput="this.value = this.value.toUpperCase()">
        <label for="floatingPassword">GSTIN</label>
      </div>
    </div>
      
      <!-- Phone no. Field -->
      <div class="col-4">
      <div class="form-floating">
        <input type="text" class="form-control phone-num" placeholder="Phone Number" id="phoneNo" name="phoneNo" formControlName="phoneNumberControl" 
        [class.is-invalid]="phoneNumberControl?.errors">
        <label for="phoneNo">Phone Number</label>
        <div>
          <div *ngIf="addPartyForm.get('phoneNumberControl')?.errors?.['pattern']" style="color: red;">Please enter a valid number.</div>
        </div>
      </div>
    </div>
    </div>

  <!-- Second row -->
    <div class="form-row three-columns">
      <div class="col-4">
      <div class="form-floating">
        <mat-form-field style="width: 100%;">
          <mat-label>Party Group</mat-label>
          <input type="text" matInput [matAutocomplete]="auto" formControlName="partyGroupControl" oninput="this.value = this.value.toUpperCase()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="openAddPartyGroupModal()">+ ADD PARTY GROUP</mat-option>
            <mat-option *ngFor="let party of dataService.partyGroupListResponse" [value]="party.partygroup">{{ party.partygroup }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div> 
    </div>
  
    <!-- THREE TABS -->
    <mat-tab-group [selectedIndex]="getSelectedIndex()" (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="GST & ADDRESS">
      </mat-tab>
      <mat-tab label="CREDIT & BALANCE">
      </mat-tab>
      <mat-tab label="ADDITIONAL FIELDS">
      </mat-tab>
    </mat-tab-group>
     
    
    <!-- TAB1: GST -->
    <div class="gstAndAddressForm" id="gstAndAddress" *ngIf="selectedTab === 'gstAndAddress'">
      <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
          <div class="form-floating">
            <select class="form-select gstFields" id="gstType" name="gstType" formControlName="gstTypeControl" >
              <option value=""></option>
              <option value="Unregistered/Consumer">Unregistered/Consumer</option>
              <option value="Registered Business - Regular">Registered Business - Regular</option>
              <option value="Registered Business - Composition">Registered Business - Composition</option>
            </select>
            <label for="gstType">GST Type</label>
          </div>
          
          
          <div class="form-floating">
            <select class="form-select gstFields" id="state" name="state" formControlName="_stateControl" placeholder="State">
              <option value="" disabled selected class="dropdown-item"></option>
              <option *ngFor="let state of states" [value]="state" class="dropdown-item">{{ state }}</option>
            </select>
            <label for="state">State</label>
          </div>
    
          <div class="form-floating">
            <input type="text" class="form-control gstFields" id="emailId" name="emailId" placeholder="Enter Email" formControlName="emailIdControl" 
            [class.is-invalid]="emailIdControl?.errors">
            <label for="emailId">Email ID</label>
          </div>
        </div>     
    
        <!-- Second Column -->
        <div class="col-md-4">
          <div class="form-floating">
            <textarea class="form-control gstFields" id="billingAddress" name="billingAddress" rows="5" placeholder="Enter Billing Address" formControlName="billingAddressControl" 
             style="height: 200px;" oninput="this.value = this.value.toUpperCase()"></textarea>
            <label for="billingAddress">Billing Address</label>
            <a type="button" (click)="toggleShippingAddress()">
              {{ isShippingAddressEnabled ? '- Disable Shipping Address' : '+ Enable Shipping Address' }}
            </a>
          </div>
        </div>
    
        <!-- Third Column -->
        <div class="col-md-4">
          <div id="shippingAddressContainer" *ngIf="isShippingAddressEnabled">
          <div class="form-floating">
            <textarea class="form-control gstFields" id="shippingAddress" name="shippingAddress" rows="5" placeholder="Enter Shipping Address" formControlName="shippingAddressControl" 
             style="height: 200px;" oninput="this.value = this.value.toUpperCase()"></textarea>
            <label for="shippingAddress">Shipping Address</label>
          </div>   
          <div class="text-end">
          <button class="btn add-btn"  style="color: white; background-color: #3076f0; width: 100px;">Add</button>
          </div>
        </div>
        </div>
      </div>   
    </div>

    <!-- TAB 2: BALANCE -->
    <div class="creditAndBalanceForm row" id="creditAndBalance" *ngIf="selectedTab === 'creditAndBalance'">
      <div class="col-md-6">
        <div class="form-floating">
          <input class="form-control creditAndBalanceFields" type="text" id="openingbalanceAmt" name="openingbalanceAmt" placeholder="Enter Opening Balance" formControlName="openingBalanceControl">
          <label for="openingbalanceAmt">Opening Balance</label>
        </div>
        <div>
          <div *ngIf="addPartyForm.get('openingBalanceControl')?.errors?.['pattern']" style="color: red;">Please enter valid opening balance.</div>
        </div>
        <div *ngIf="openingBalance != null">
          <label class="pay-recieve">
            <input type="radio" name="toPayOrReceiveControl" value="PAY" formControlName="toPayOrReceiveControl" (change)="updateValue($event)"> To Pay
          </label>
        
          <label>
            <input type="radio" name="toPayOrReceiveControl" value="RECEIVE" formControlName="toPayOrReceiveControl" (change)="updateValue($event)"> To Receive
          </label>
        </div>
 
        <div class="form-check form-switch">
          <input class="form-check-input" style="height: 25px; width:45px;" type="checkbox" role="switch" id="customNoLimit" [checked]="isCustomLimit" (change)="updateLabel($event)">
          <label class="form-check-label" style="margin-left: 5%; margin-top: 2%;" for="customNoLimit">{{ labelText }}</label>
        </div>
        
        <div [class.hidden]="!isCustomLimit">
          <div class="form-floating mt-3">
            <input type="text" class="form-control" name="customLimit" placeholder="Enter Custom Limit" formControlName="creditLimitControl">
            <label for="customLimit">Credit Limit</label>
          </div>
          <div>
            <div *ngIf="addPartyForm.get('creditLimitControl')?.errors?.['pattern']" style="color: red;">Please enter valid credit limit.</div>
          </div>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input class="form-control creditAndBalanceFields" type="date" id="asofdate" name="asofdate" formControlName="asOfDateControl">
          <label for="asofdate">As of date</label>
        </div>
      </div>
    </div>

    <!-- TAB 3: ADDTIONAL FIELDS -->
    <div id="addtionalFields" *ngIf="selectedTab === 'additionalFields'">
      <div class="row  col-md-12 scroll">
        <div class="row addtional-fields">
          <div class="col-md-1">
            <input type="checkbox" class="form-check-input additionalFieldcheckBox" id="additionalField1Checked" name="additionalField1Checked"  (change)="toggleAdditionalField($event, 'additionalField1')" [checked]="isAdditionalField1Checked">
          </div>
          <div class="col-md-5">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalField1" placeholder="Additional Field 1" formControlName="additionalFieldName1Control" 
              [class.is-invalid]="additionalFieldName1Control?.errors?.['required'] && ifFormSubmitted" oninput="this.value = this.value.toUpperCase()" [disabled]="!isAdditionalField1Checked">

              <label for="additionalField1">Additional Field 1</label>
            </div>
          </div>
          
          <div class="col-md-5" *ngIf="isAdditionalField1Checked">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalFieldName1Value" placeholder="Additional Field 1 Value" formControlName="additionalField1ValueControl" 
              [class.is-invalid]="additionalField1ValueControl?.errors?.['required'] && (additionalField1ValueControl?.touched || ifFormSubmitted)"
              oninput="this.value = this.value.toUpperCase()">
              <label for="additionalFieldName1Value">Enter value for Field 1</label>
            </div>
          </div>
          <!-- <div class="form-check form-switch addFieldToggle" *ngIf="isAdditionalField1Checked">
            <input class="form-check-input" style="height: 15px; width:25px;" type="checkbox" role="switch" id="flexSwitchCheckDefault1" formControlName="additionalField1Checked" (change)="showInPrint($event, 'additionalField1Checked')">            
            <label class="form-check-label" for="flexSwitchCheckDefault1">Show in Print</label>
          </div> -->
        </div>

        <div class="row addtional-fields">
          <div class="col-md-1">
            <input type="checkbox" class="form-check-input additionalFieldcheckBox" id="additionalField2Checked" name="additionalField2Checked"  (change)="toggleAdditionalField($event, 'additionalField2')" [checked]="isAdditionalField2Checked">
          </div>
          <div class="col-md-5">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalField2" placeholder="Additional Field 2" formControlName="additionalFieldName2Control" 
              [class.is-invalid]="additionalFieldName2Control?.errors?.['required'] && ifFormSubmitted" oninput="this.value = this.value.toUpperCase()">

              <label for="additionalField2">Additional Field 2</label>
            </div>
          </div>
          <div class="col-md-5" *ngIf="isAdditionalField2Checked">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalFieldName2Value" placeholder="Additional Field 2 Value" formControlName="additionalField2ValueControl" 
              [class.is-invalid]="additionalField2ValueControl?.errors?.['required'] && (additionalField2ValueControl?.touched || ifFormSubmitted)"
              oninput="this.value = this.value.toUpperCase()">
              <label for="additionalFieldName2Value">Enter value for Field 2</label>
            </div>
          </div>
          <!-- <div class="form-check form-switch addFieldToggle" *ngIf="isAdditionalField2Checked">
            <input class="form-check-input" style="height: 15px; width:25px;" type="checkbox" role="switch" id="flexSwitchCheckDefault2" formControlName="additionalField2Checked" (change)="showInPrint($event, 'additionalField2Checked')">            
            <label class="form-check-label" for="flexSwitchCheckDefault2">Show in Print</label>
          </div> -->
        </div>

        <div class="row addtional-fields">
          <div class="col-md-1">
            <input type="checkbox" class="form-check-input additionalFieldcheckBox" id="additionalField3Checked" name="additionalField3Checked"  (change)="toggleAdditionalField($event, 'additionalField3')" [checked]="isAdditionalField3Checked">
          </div>
          <div class="col-md-5">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalField3" placeholder="Additional Field 3" formControlName="additionalFieldName3Control" 
              [class.is-invalid]="additionalFieldName3Control?.errors?.['required'] && ifFormSubmitted" oninput="this.value = this.value.toUpperCase()">

              <label for="additionalField3">Additional Field 3</label>
            </div>
          </div>
          <div class="col-md-5" *ngIf="isAdditionalField3Checked">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalFieldName3Value" placeholder="Additional Field 3 Value" formControlName="additionalField3ValueControl" 
              [class.is-invalid]="additionalField3ValueControl?.errors?.['required'] && (additionalField3ValueControl?.touched || ifFormSubmitted)"
              oninput="this.value = this.value.toUpperCase()">
              <label for="additionalFieldName3Value">Enter value for Field 3</label>
            </div>
          </div>
          <!-- <div class="form-check form-switch addFieldToggle" *ngIf="isAdditionalField3Checked">
            <input class="form-check-input" style="height: 15px; width:25px;" type="checkbox" role="switch" id="flexSwitchCheckDefault1" formControlName="additionalField3Checked" (change)="showInPrint($event, 'additionalField3Checked')">            
            <label class="form-check-label" for="flexSwitchCheckDefault3">Show in Print</label>
          </div> -->
        </div>

        <div class="row addtional-fields">
          <div class="col-md-1">
            <input type="checkbox" class="form-check-input additionalFieldcheckBox" id="additionalField4Checked" name="additionalField4Checked" (change)="toggleAdditionalField($event, 'additionalField4')" [checked]="isAdditionalField4Checked">
          </div>
          <div class="col-md-5">
            <div class="form-floating">
              <input type="text" class="form-control" name="additionalField4" placeholder="Additional Field 4" formControlName="additionalFieldName4Control" 
              [class.is-invalid]="additionalFieldName4Control?.errors?.['required'] && ifFormSubmitted" oninput="this.value = this.value.toUpperCase()">

              <label for="additionalField4">Additional Field 4</label>
            </div>
          </div>
          <div class="col-md-5" *ngIf="isAdditionalField4Checked">
            <div class="form-floating">
              <input type="date" class="form-control" name="additionalFieldName4Value" placeholder="Additional Field 4 Value" formControlName="additionalField4ValueControl"
              [class.is-invalid]="additionalField4ValueControl?.errors?.['required'] && (additionalField4ValueControl?.touched || ifFormSubmitted)"
              oninput="this.value = this.value.toUpperCase()">
              <label for="additionalFieldName4Value">Enter value for Field 4</label>
            </div>
          </div>
          <!-- <div class="form-check form-switch addFieldToggle" *ngIf="isAdditionalField4Checked">
            <input class="form-check-input" style="height: 15px; width:25px;" type="checkbox" role="switch" id="flexSwitchCheckDefault4" formControlName="additionalField4Checked" (change)="showInPrint($event, 'additionalField4Checked')" >            
            <label class="form-check-label" for="flexSwitchCheckDefault4">Show in Print</label>
          </div> -->
        </div>
      </div>
      </div>
    </div>
     
  <div *ngIf="!dataService.isPartyUpdate" class="fixed-buttons d-flex justify-content-end position-fixed bottom-0 submit-btns">
    <!-- <input type="submit" style="margin-right: 20px;" class="btn btn-warning add_party_btn" value="SAVE & NEW" (click)="submit(true)"> -->
    <input type="submit" class="btn save_update"  style="color: white; background-color: #3076f0; width: 150px;" value="SAVE" (click)="submit(false)">
  </div>
  <div *ngIf="dataService.isPartyUpdate" class="fixed-buttons d-flex justify-content-end position-fixed bottom-0 p-3 submit-btns">
    <input type="submit" class="btn save_update"  style="color: white; background-color: #3076f0; width: 150px;" value="UPDATE" (click)="submit(false)">
  </div>
</form>
