.main {
  height: 100%; /* Ensure the div has height */
  overflow: hidden; /* Hides the scrollbar */
  padding: 5%;
}

.scroll{
  max-height: 285px;
  overflow-y: scroll; /* Ensures scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-div {
  height: 600px; /* or max-height */
  overflow-y: scroll; /* Ensures scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* phone, gstin, partyname */
.form-row {
    display: flex;
    justify-content: space-between;
  }

.three-columns{
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

  /* tabs */
li a {
  color: black;
  font-size: 15px;
}

.nav-link.active {
  color: rgb(28, 28, 152);
  font-weight: 550;
}

  /* GST TAB */
  .gstAndAddressForm {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0%;
    padding: 2%;
  }
   
  .gstFields {
    width: 100%;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
  } 
  
  #gstType {
    margin-right: 10%;
  }

  .add-btn {
    border-radius: 25px;
    font-size: 13px;
    width: 60px;
    height: 35px;
  }

  /* OPENING BALANCE TAB */
  .hidden {
    display: none;
  }

  .pay-recieve {
    margin-right: 2%;
    width: 100px;
    padding: 3%;
  }
  
.addressForm {
  padding: 20px;
  margin-left: 0%;
}
.addressFields{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.creditAndBalanceFields {
  width: 100%;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 5%; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

.submit-btns {
  margin-bottom: 3%;
}

/* Dropdown select options */
.dropdown-options {
  padding: 5%;
}

/* Additional fields */
.addtional-fields {
  margin: 3%;
}

.additionalFieldcheckBox {
  margin-top: 30%;
  margin-left: 15%;
  height: 20px;
  width: 20px;
}

.addFieldToggle {
  margin: 1%;
  margin-left: 10%;
}

.invalid-input{
  border: 2px solid red;
}

.save_update{
  margin-top: 2%; 
  width: 150px;
}