<div class="details-page">
    <!-- To include sidbar and the page -->

    <!-- Navbar -->
    <section class="details-card details-nav-card">
        <nav class="navbar navbar-expand-lg bg-body-secondary details-top-nav">
            <div class="container-fluid justify-content-end">
                <ul class="navbar-nav nav-tabs top-actions">
                    <li class="nav-item">
                        <button
                            mat-button
                            class="nav-link quick-action-btn sale-btn"
                            aria-current="page"
                            routerLink="/Sale/add"
                        >
                            Add Sale
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            mat-button
                            class="nav-link quick-action-btn purchase-btn"
                            routerLink="/Purchase/add"
                        >
                            Add Purchase
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </section>


    <!-- Filters -->
    <section class="bg-body-secondary details-card" *ngIf="this.showFilterSection">
        <form [formGroup]="filterForm">
            <div class="row p-2 mt-1 mb-2 g-2 align-items-start details-filter-row">
                <div class="col-12 col-md-3">
                    <mat-form-field>
                        <!-- <mat-label>Transaction Type</mat-label> -->
                        <mat-select
                            id="filter"
                            formControlName="range"
                            (selectionChange)="handleRangeChange()"
                        >
                            <mat-option
                                *ngFor="let filter of filters; index as i"
                                [value]="i"
                            >
                                {{ filter }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 pt-1">
                    <div class="input-group date-range-group">
                        <span class="input-group-text">Between</span>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="startDate"
                            id="startDate"
                            (change)="filterData($event)"
                        />
                        <input
                            type="date"
                            class="form-control"
                            id="endDate"
                            formControlName="endDate"
                            (change)="filterData($event)"
                        />
                    </div>
                </div>
                <div class="col-12 col-md-3 report-section">
                    <button class="form-control report-btn" (click)="generateExcel()">
                      <mat-icon>file_download</mat-icon>
                    </button>
                    <span class="report-text">REPORT</span>
                  </div>
            </div>
            <div class="row summary-row">
                <div class="summary-cards-list">
                    <div class="card summary-card">
                        <div class="card-body">
                            <h4 class="card-title">Paid</h4>
                            <p class="card-text">{{ paidVal }}</p>
                        </div>
                    </div>
                    <div class="summary-symbol align-content-center">
                        <mat-icon>add</mat-icon>
                    </div>
                    <div class="card summary-card">
                        <div class="card-body">
                            <h4 class="card-title">Unpaid</h4>
                            <p class="card-text">{{ unpaidVal }}</p>
                        </div>
                    </div>
                    <div class="summary-symbol align-content-center">
                        <span class="material-symbols-outlined"> equal </span>
                    </div>
                    <div class="card summary-card">
                        <div class="card-body">
                            <h4 class="card-title">Total</h4>
                            <p class="card-text">{{ totalVal }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!-- Table Contents -->
    <section class="bg-body-secondary p-2 details-card" [class.mt-2]="!this.showFilterSection">
        <h3 class="ms-3 pt-2">Transactions</h3>

        <div class="container-fluid">
            <div class="row justify-content-between align-items-center g-2">
                <!-- Filtering row input -->
                <mat-form-field class="col-12 col-md-6">
                    <mat-label>Filter</mat-label>
                    <input
                        matInput
                        (keyup)="applyFilter($event)"
                        type="text"
                        placeholder="Ex. 1267"
                        #tableFilterInp
                    />
                </mat-form-field>

                <!-- Add Sale Button -->
                <button
                    mat-fab
                    extended
                    class="action-add-btn"
                    (click)="getRouterLink()"
                >
                    <mat-icon>add</mat-icon>
                    Add {{ this.transactionTypeString | removeHyphen }}
                </button>
            </div>
        </div>

        <!-- Scrollable Table -->
        <div class="table-container">
            <table mat-table matSort [dataSource]="transactonData">
                <ng-container matColumnDef="invoicedate">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.invoicedate | date }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invoicenumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice No</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.invoicenumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="customername">
                    <th mat-header-cell *matHeaderCellDef>Party Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.customername }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="typeofpay">
                    <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.typeofpay }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="paymenttype">
                    <th mat-header-cell *matHeaderCellDef>Payment Type</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.paymenttype }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef>Balance</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.balance }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="transactionType == 4 || transactionType == 6">
                            <button
                                mat-menu-item
                                [routerLink]="['/' + transactionTypeString + '/convert', element.invoicenumber]"
                            >
                                Convert to Sale
                            </button>
                        </div>
                        <div *ngIf="transactionType == 5">
                            <button
                                mat-menu-item
                                [routerLink]="['/' + transactionTypeString + '/convert', element.invoicenumber]"
                            >
                                Convert to Purchase
                            </button>
                        </div>
                        <div *ngIf="transactionType != 4 && transactionType != 5 && transactionType != 6">
                            <mat-icon
                                class="ms-2"
                                (click)="getEditLink(element.invoicenumber, true)"
                            >
                                print
                            </mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="option">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="appMenu"
                            aria-label=""
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #appMenu="matMenu">
                            <button
                                mat-menu-item
                                (click)="getEditLink(element.invoicenumber)"
                            >
                                Edit
                            </button>
                            <button
                                mat-menu-item
                                [routerLink]="['/' + transactionTypeString + '/convert', element.invoicenumber]"
                                *ngIf="transactionType == 8"
                            >
                                Convert to Sale
                            </button>
                            <button
                                mat-menu-item
                                [routerLink]="['/' + transactionTypeString + '/convertOrder', element.invoicenumber]"
                                *ngIf="transactionType == 8"
                            >
                                Convert to Sale Order
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (dblclick)="getEditLink(row.invoicenumber)"
                ></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                        NO RECORDS FOR "{{ tableFilterInp.value }}"
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
