.select-container > select {
  font-size: 1.3rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
  height: 40px;
  padding: 2px;
}

.select-container > select:focus {
  border: none;
  border-bottom: 2px solid grey;
}

.select-container > select > option {
  font-size: 1.1rem;
  font-weight: 300;
}

section > h3 {
  font-weight: 400;
}

.table-container {
  height: calc(100vh - 150px); /* Adjust '150px' based on the combined height of other fixed elements (e.g., header, padding) */
  overflow-y: auto;
}

/* Sticky Header */
.table-container table th {
  position: sticky;
  top: 0;
  background-color: #f1f1f1; /* Ensure sticky header has background */
  z-index: 1;
}
