<!-- <app-sidebar></app-sidebar> -->
<!-- <div class="container">
    <form >
  
      <label for="businessName">Business Name</label>
      <input type="text" id="businessName" name="businessName" placeholder="Enter Business Name" required>

      <label for="businessDesc">Business Description</label>
      <input type="text" id="businessDesc" name="businessDesc" placeholder="Enter Business Description">

      <label for="phoneNo">Phone no.</label>
      <input type="text" id="phoneNo" name="phoneNo" placeholder="Enter Phone number">

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Enter Email Id">

      <label for="businessAddress">Business Address</label>
      <textarea name="businessAddress" id="businessAddress" cols="30" rows="10" placeholder="Enter Business Address"></textarea>

      <label for="businessCategory">Business Category</label>
      <input type="text" id="businessCategory" name="businessCategory" placeholder="Enter Business Category">

      <label for="businessType">Business Type</label>
      <select id="businessType" name="businessType">
        <option value="b1">b1</option>
        <option value="b2">b2</option>
        <option value="b3">b3</option>
      </select>

      <label for="gstin">GSTIN</label>
      <input type="text" id="gstin" name="gstin" placeholder="Enter GSTIN">

      <label for="state">State</label>
      <select id="state" name="state">
        <option value="state1">state1</option>
        <option value="state2">state2</option>
        <option value="state3">state3</option>
      </select>
  
      <label for="sign">Signature</label>

      <br>
  
      <input type="submit" value="SAVE">
  
    </form>
  </div> -->

<form [formGroup]="businessInfoGroup" class="scrollable-div scroll">
  <h2>EDIT FIRM</h2>
<div class="row">
  <div class="col-md-6">
    <h1 class="text-center">+ADD LOGO</h1>
    <div class="image-box text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdwSWqBlDZsYbr2OX-RiRqX6N19D3-TLAjgw&s" alt="Logo" class="img-fluid">
    </div>
</div>
  <div class="col-md-6">

    <div class="form-floating fields">
      <input type="text" class="form-control business-name" placeholder="Business Name" id="businessName" name="businessName" formControlName="businessNameControl" 
      oninput="this.value = this.value.toUpperCase()">
      <label for="businessName">Business Name</label>
    </div>

    <div class="form-floating fields">
      <input type="text" class="form-control gst-in" placeholder="GSTIN" id="gstin" name="gstin" formControlName="gstinControl" 
      oninput="this.value = this.value.toUpperCase()">
      <label for="gstin">GSTIN</label>
    </div>

    <div class="form-floating fields">
      <input type="number" class="form-control phoneNumber" placeholder="Phone Number" id="phoneNumber" name="phoneNumber" formControlName="phoneNumberControl" 
      oninput="this.value = this.value.toUpperCase()">
      <label for="phoneNumber">Phone Number</label>
      <div>
        <div *ngIf="businessInfoGroup.get('phoneNumberControl')?.errors?.['pattern']" style="color: red;">Please enter a valid number.</div>
      </div>
    </div>

    <div class="form-floating fields">
      <input type="text" class="form-control email-id" placeholder="Email Id" id="emailId" name="emailId" formControlName="emailIdControl">
      <label for="emailId">Email ID</label>
      <div>
        <div *ngIf="businessInfoGroup.get('emailIdControl')?.errors?.['pattern']" style="color: red;">Please enter a valid email.</div>
      </div>
    </div>

  </div>
</div>

<!-- <div style="display: flex; justify-content: space-between;"> -->
    <h2 (click)="toggleBusinessDetails()">{{ showBusinessDetails ? '- Less Information' : '+ More Information' }}</h2>
<!-- </div> -->

<div class="businessDets" *ngIf="showBusinessDetails">
  <!-- <div class="business-details"> -->
    <h2 style=" margin-left: 40%;">Business Details</h2>
    <hr>
  <!-- </div> -->

<div class="row">

  <div class="col-md-6">
    <div class="form-floating">
      <textarea class="form-control businessAddress" id="businessAddress" name="businessAddress" rows="5" placeholder="Business Address" formControlName="businessAddressControl" 
       style="height: 100px;" oninput="this.value = this.value.toUpperCase()"></textarea>
      <label for="businessgAddress">Business Address</label>
    </div>

    <div class="form-floating fields">
      <input type="number" class="form-control pincode" placeholder="Pincode" id="pincode" name="pincode" formControlName="pincodeControl" 
      oninput="this.value = this.value.toUpperCase()" >
      <label for="pincode">Pincode</label>
      <div>
        <div *ngIf="businessInfoGroup.get('pincodeControl')?.errors?.['pattern']" style="color: red;">Please enter a valid pincode.</div>
      </div>
    </div>

    <div class="form-floating">
      <select class="form-select state" id="state" name="state" formControlName="stateControl">
        <option *ngFor="let state of states" [value]="state" class="dropdown-item">{{ state }}</option>
      </select>
      <label for="state">State</label>
    </div>

    <div class="form-floating">
      <textarea class="form-control businessDesc" id="businessDesc" name="businessDesc" rows="5" placeholder="Business Desciption" formControlName="businessDescriptionControl" 
       style="height: 100px;" oninput="this.value = this.value.toUpperCase()"></textarea>
      <label for="businessDescription">Business Description</label>
    </div>

  </div>

  <div class="col-md-6">

    <div class="form-floating">
      <select class="form-select businessType" id="businessType" name="businessType" formControlName="businessTypeControl">
        <option value="None" selected>None</option>
        <option value="Retail">Retail</option>
        <option value="Wholesale">Wholesale</option>
        <option value="Distributor">Distributor</option>
        <option value="Service">Service</option>
        <option value="Manufacturing">Manufacturing</option>
        <option value="Others">Others</option>
      </select>
      <label for="businessType">Business Type</label>
    </div>

    <div class="form-floating fields">
      <input type="text" class="form-control businessCategory" placeholder="Business Category" id="businessCategory" name="businessCategory" formControlName="businessCategoryControl" 
      oninput="this.value = this.value.toUpperCase()">
      <label for="businessCategory">Business Category</label>
    </div>

    <div class="col-md-6">
      <p class="addSign" style="text-align: center;">Add Signature</p>
    </div>

  </div>
</div>
</div>
<div class="text-md-end"> 
  <button type="submit" class="btn btn-warning add_item_btn" *ngIf="!isBusinessInfoUpdate" (click)="submit()">SAVE</button>
  <button type="submit"class="btn btn-warning add_item_btn" *ngIf="isBusinessInfoUpdate" (click)="submit()">UPDATE</button>
</div>
</form>