<form class="addItemCategory" [formGroup]="addItemCategory">
    <h2>Add Item Category</h2>
    <div class="form-group">
      <label for="itemCategoryName">ENTER ITEM CATEOGRY NAME</label>
      <input type="text" class="form-control" id="itemCategoryName" formControlName="itemCategoryNameControl" [(ngModel)]="itemCategoryName"
      oninput="this.value = this.value.toUpperCase()" [class.is-invalid]="itemCategoryNameControl?.errors?.['required'] && itemCategoryNameControl?.touched">
    </div>

    <hr>
    <button type="submit" class="btn btn-primary" (click)="submit()">SAVE</button>

</form>