<div class="login-container">
    <form class="login-form">
      <h2>LOGIN</h2>
      <div class="form-group">
        <input type="text" id="mobileno" name="mobileno" placeholder="Enter Mobile no.">
      </div>

      <input type="submit" value="GET OTP">
      <!-- <h4 class="resendOtp">Resend OTP</h4> -->

      <div class="form-group">
        <input type="text" id="otp" name="otp" placeholder="Enter OTP">
      </div>

      <input type="submit" routerLink="/businessinfo" value="SUBMIT">

    </form>
  </div>