<div class="main">
    <!-- first two rows -->
    <div class="row">
      <div class="col-sm">
        <label for="base-unit">BASE UNIT</label>
        <select class="form-select" [(ngModel)]="selectedOption1" (ngModelChange)="unitConversion()" name="base-unit">
          <option value="null" disabled>None</option>
          <option *ngFor="let option of options1" [ngValue]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="col-sm">
        <label for="secondary-unit">SECONDARY UNIT</label>
        <select class="form-select" [(ngModel)]="selectedOption2" (ngModelChange)="unitConversion()" name="secondary-unit">
          <option value="null" disabled>None</option>
          <option *ngFor="let option of options2" [ngValue]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>

    <!-- conversion rates -->
    <div *ngIf="showConversion">
        <h3 class="conversion-rate">Conversion rates</h3>
        <div class="conversion-rate-line">
            <span>1 {{selectedOption1}} = <input type="text"> {{selectedOption2}}</span>
        </div>
    </div>

    <hr>

    <div class="save-btn">
      <input type="submit" class="btn btn-warning add_party_btn" value="SAVE">
    </div>
</div>
  