<div class="sidebar">
  <div class="sidebar-content">
    <ul class="menu">
      <li class="tabs">
        <img src="https://w7.pngwing.com/pngs/848/762/png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail.png" alt="Home Icon" class="icon">
        <a href="#">Home</a>
      </li>
      <li class="tabs" routerLink="/businessinfo">
        <img src="https://w7.pngwing.com/pngs/848/762/png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail.png" alt="Home Icon" class="icon">
        <a>Business Information</a>
      </li>
      <li class="tabs" routerLink="/party-homepage">
        <img src="https://w7.pngwing.com/pngs/848/762/png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail.png" alt="Home Icon" class="icon">
        <a>Parties</a>
        <!-- <a (click)="openDialog()" >Parties</a> -->
      </li>
      <li class="tabs" routerLink="/item-homepage">
        <img src="https://w7.pngwing.com/pngs/848/762/png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail.png" alt="Home Icon" class="icon">
        <a>Items</a>
      </li>
      <li class="tabs" routerLink="/sale">
        <img src="https://w7.pngwing.com/pngs/848/762/png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail.png" alt="Home Icon" class="icon">
        <a href="#">Sale</a>
      </li>
      <li class="tabs" routerLink="/purchase">
        <img src="https://w7.pngwing.com/pngs/848/762/png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail.png" alt="Home Icon" class="icon">
        <a href="#">Purchase</a>
      </li>
    </ul>
  </div>
</div>
