.scrollable-div {
  height: 550px; /* or max-height */
  overflow-y: scroll; /* Ensures scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.sidebar {
  width: 250px;
  background-color: #474746;
  border-right: 1px solid #dee2e6;
  height: 100%;
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .tabs {
      position: relative;

      &.has-sub-menu > a {
        cursor: pointer;
      }

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        color: #dedcdc;

        &:hover{
          background-color: #363636;
          color: white;
          font-size: medium;
          border-left: 4px solid #bf1336; /* Add a red line on the left */
        }
      }

      .sub-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-left: 20px; /* Indentation for sub-tabs */
        background-color: #474746;

        .sub-tabs {
          a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #dedcdc;

            &:hover .tabs.selected .tab-content{
              background-color: #363636;
              color: white;
              padding-left: 0px; /* Indentation for sub-tabs */
              font-size: medium;
              border-left: 4px solid #bf1336; /* Add a red line on the left */
            }
          }
        }
      }
    }
  }
}

.sidebar .menu .tabs .tab-content {
  display: flex;
  align-items: center;
}

.sidebar .menu .tabs .icon {
  margin-right: 8px; 
}

.rotated {
  transform: rotate(180deg);
}

.tabs.selected > a,
.sub-tabs.selected > a {
  background-color: #363636;
  color: white;
  font-size: medium;
  border-left: 4px solid #bf1336;
}

.icon-white {
  filter: invert(100%) brightness(50%);
}