@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

:root {
  --hover-color: #565656;
  --font-color: ##3a3a3a;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden; /* Prevents page scrolling */
}

* {
  color: var(--font-color);
}

.container {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  width: 250px;
  background-color: #333;
}

.main-content {
  flex: 10;
  padding: 20px;
  margin-left: 10%;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  zoom: 0.85;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}
